
<!-- catergory -->

<div class="container">
    <div class="row">
        <ul class="nav justify-content-between w-75 m-auto cursor">
            <li class="nav-item">
                <a class="nav-link active p-2">
                    <img class="d-block m-auto" src="../../../assets/images/talk to doc..png" alt="talk to doc" height="70" width="70" >
                    <span class="mt-1 text-dark">Talk To Doctor</span>
                </a>
                </li>
            <li class="nav-item">
                    <a class="nav-link active p-2" routerLink="/medicine-home">
                        <img class="d-block m-auto" src="../../../assets/images/medicines.png" alt="medicine" height="70" width="70">&nbsp;&nbsp;
                        <span class="mt-1 text-dark">Medicine</span>
                    </a>
                </li>
            <li class="nav-item">
                    <a class="nav-link active p-2">
                        <img class="d-block m-auto" src="../../../assets/images/lab test.jpg" alt="lab-test" height="70" width="70">
                        <span class="mt-1 text-dark">Lab Test & Packages</span>
                    </a>
                </li>
            <li class="nav-item">
                <a class="nav-link active p-2">
                    <img class="d-block m-auto" src="../../../assets/images/surgery.gif" alt="surgery" height="70" width="70">&nbsp;&nbsp;
                    <span class="mt-1 text-dark">Surgery</span>
                    </a>
                </li>
            <li class="nav-item">
                    <a class="nav-link active p-2">
                        <img class="d-block m-auto" src="../../../assets/images/book an appointment.jpg" alt="book" height="70" width="70">
                        <span class="mt-1 text-dark">Book Dr Appoinment</span>
                    </a>
                </li>  
            <li class="nav-item">
                    <a class="nav-link active p-2">
                        <img class="d-block m-auto" src="../../../assets/images/mb-gold.png" alt="medi" height="70" width="70">
                        <span style="font-weight:500">
                        <span class="mt-1 text-1">Medi</span>
                        <span class="mt-1 text-2">Buddy</span>
                        </span>
                        <br>&nbsp;&nbsp;
                        <span class="text-gold">GOLD</span>
                    </a>
            </li>
                <li class="nav-item">
                    <a class="nav-link active p-2">
                        <img class="d-block m-auto" src="../../../assets/images/icon.png" alt="more" height="70" width="70">&nbsp;&nbsp;&nbsp;
                        <span class="mt-1 text-dark">More</span>
                </a>
            </li>    
        </ul>
    </div>
</div>

<!-- catergory -->

<div class="container mt-4 w-75 border py-3 shadow-sm rounded-pill">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-dark heading">Consult with Top Doctors Online, 24x7</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item border rounded-pill px-5">
            <a class="nav-link">Start Consultation &nbsp;
                <img src="../../../assets/images/arrow-right-lg.svg" height="20" weight="20">
            </a>
        </li>
    </ul>
</div> 

<!-- carousel -->

<div class="container mt-4 w-75">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://views.medibuddy.in/homePageBanners/diagonistic_centers.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://views.medibuddy.in/surgeryBanners/surgery02.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://views.medibuddy.in/surgeryBanners/surgery03.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://views.medibuddy.in/surgeryBanners/surgery01.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div><br>

<!-- video -->
 
<div class="container w-75 mt-4 p-2">
    <div class="row">
        <div class="col-md-6">
            <p class="txt">Watch Amitabh Bachchan emphasize the <br>importance of Unlimited Expert Doctor<br>
                Consultations online for the entire family.</p> 
        
            <br> 
            <br>
            <div class="row w-100 d-block px-4">
                <p class="txt">Download the App</p>
                <span><img src="../../../assets/images/android.png" height="40" width="170" alt=""></span>
                <span><img src="../../../assets/images/ios.png" height="40" width="170" alt=""></span>
            </div>
            </div>
    
        <div class="col-md-6 p-2 m-auto">
            <video controls class="video rounded">
                <source src="../../../assets/images/mb-amitabh.mp4" type="video/mp4" height="40" width="40">
            </video>
        </div>
    </div>
        </div>

<!-- banner -->
<div class="container w-75 mt-2 p-1 shadow">
    <img src="https://views.medibuddy.in/dynamic-banner/medibuddyHomeFirstFoldWebABHA.svg" alt="" style="width: 100%;">
</div>
<br>
<br>

<!-- cards -->

<div class="container w-75 mt-4 p-2">
    <div class="row">
        <div class="col-md-4">
            <span style="font-weight: 500;">
                <span class="mt-1 text-1">Medi</span>
                <span class="mt-1 text-2">Buddy</span>&nbsp;
                <span class="text-gold">GOLD</span>
            </span>
            <br>
            <br>
             
        <p class="text-3">Give the care your <br>family deserves</p>
        <p class="txt">Unlimited Consultations with top Doctors for 6 family members in 22+ specialities and 16 languages</p>
       
            <ul class="nav justify-content-right">
                <li class="nav-item-1 border rounded-pill px-5">
                    <a class="nav-link-1">Buy Medibuddy Gold &nbsp;
                        <img src="https://www.medibuddy.in/assets/icons/arrow-right.svg" height="20" weight="20">
                    </a>
                </li>
            </ul>
       
    </div>
    <div class="col-md-4 m-auto">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="../../../assets/images/unlimited-consultations.svg" class="card-img-right" alt="" height="80" width="80">
                <div class="card-body">
                  <h6 class="card-title text-3">Unlimited Free <br>Consultations</h6>
                  <p class="card-text">Get unlimited free consultations with all doctors <strong>24x7</strong></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/images/family.svg" class="card-img-right" alt="" height="80" width="80">
                <div class="card-body">
                  <h6 class="card-title text-3">Free For Full Family</h6>
                  <p class="card-text">Free consultations for upto <strong>6 family members</strong></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/images/free-health.svg" class="card-img-right" alt="" height="80" width="80">
                <div class="card-body">
                  <h6 class="card-title text-3">Free For All Health Problems</h6>
                  <p class="card-text">Consult with any doctor from <strong>18 departments</strong> at any time</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/images/video-consultation.svg" class="card-img-right" alt="..." height="80" width="80">
                <div class="card-body">
                  <h6 class="card-title text-3">Video <br>Consultations</h6>
                  <p class="card-text">Video Consults with top doctors <strong>24x7</strong></p>
                </div>
              </div>
            </div>
          </div>

        </div>

    </div>

    <br>
    <br>
    <div class="container w-100 mt-4 p-2">
        <div class="row">
            <h2 class="txt-1"><b>Insurance</b></h2>
            <br>
            <br>
            <br>
        <p class="txt">Get access to all your Health insurance services - View Policy, Initiate and Track Claims, Go Cashless with network hospitals and intimate Hospitalization</p>    
        </div>

        <div class="card-group">
            <div class="card rounded">
                <div class="card-body">
                    <h6 class="card-title">E-Card&nbsp; &nbsp; &nbsp;  <img src="../../../assets/images/arrow-right-lg.svg" class="card-img-top-left" alt="" height="20" width="50"></h6>
              
                <p class="card-text">Get e-cards for you and your family members</p>
                <div class="container" >
                    <img src="../../../assets/images/ecard.svg" class="card-img-bottom-left" height="70" width="70">
                </div>
            
              </div>
            </div>&nbsp;&nbsp;

            <div class="card rounded">
                <div class="card-body">
                    <h6 class="card-title">Claims &nbsp;&nbsp;&nbsp;  <img src="../../../assets/images/arrow-right-lg.svg" class="card-img-top-left" alt="" height="20" width="20"> </h6>
                
                
                  <p class="card-text">Track your claims in real-time</p>
                  <div class="container" >
                    <img src="../../../assets/images/claims.svg" class="card-img-bottom-left" height="70" width="70">
                </div>
              
                </div>
              </div>&nbsp;&nbsp;&nbsp;

            <div class="card rounded">
                <div class="card-body">
                    <h6 class="card-title">Network &nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../../assets/images/arrow-right-lg.svg" class="card-img-top-left" alt=""height="20" width="20"> <br> Hospitals </h6>
                       
                        <p class="card-text">Search for the nearest Network hospital to go cashless</p>
                        <div class="container" >
                            <img src="../../../assets/images/network-hospitals.svg" class="card-img-bottom-left" height="70" width="70">
                        </div>

              </div>
            </div>&nbsp;&nbsp;&nbsp;
            <div class="card rounded">
                <div class="card-body">
                    <h6 class="card-title">Empanel &nbsp;&nbsp;&nbsp;&nbsp; 
                        <img src="../../../assets/images/arrow-right-lg.svg" class="card-img-top-left" alt="" height="20" width="20"> <br>Hospitals </h6>
              
                        <p class="card-text"> Become a part of Network Hospitals</p>
                        <div class="container" >
                            <img src="../../../assets/images/EmpanelHosp.svg" class="card-img-bottom-left" height="70" width="70">
                        </div>
                
              </div>
            </div>
          </div>
       
    </div>
    <br>
    <br>

    <!-- banner -->

    <div class="container w-100 mt-2 p-2 shadow">
        <img src="https://views.medibuddy.in/dynamic-banner/medibuddyHomeThirdFoldWebsurgery.svg" alt="" style="width:100%;">
    </div>
    <br>
    <br>

<!-- image -->

<div class="container w-100 mt-4 p-2 ">
    <div class="row">
    <div class="col-md-6 ">
        <img src="../../../assets/images/mb gold manasi" height="200" width="400">
    </div>

    <div class="col-md-6 ">
        <img src="../../../assets/images/decisions" height="200" width="400">
    </div>
    </div>
   
</div>


