
.cursor{
    cursor: pointer;
}

.nav-link{
    font-size: 11px;
    font-weight: 700;
}

.text-gold{
    color:rgb(255, 215, 0);
    
}

.heading{
    font-size: 16px;
    font-weight: 700;
}
.txt{
    font-weight: 600;
    font-size: medium;
    color: rgb(13, 13, 121);
}
.video{
    height:100%;
    width:100%;
}
.text-1{
    font-size:medium;
    color: rgb(61, 61, 180);
}
.text-2{
    font-size:medium;
    color: #f40009;
}
.text-3{
    font-weight: 700;
    font-size:large;
    color:rgb(225, 0, 150);
}
.nav-item-1 {
    font-size: 11px;
    font-weight: 700;
    background-color:rgb(238, 199, 102);
}
.nav-link-1{
    font-weight:100;
    font-size: 15px;
    color: rgb(168, 68, 68);
    text-decoration: none;
}
.txt-1{
    color: navy;
}
