

<div class="container-fluid py-2 text-center bg-primary text-light">
    <h3>Get Huge Savings on Medicines</h3>
    <div class="d-flex justify-content-center">
        <div class="p-1"><i class="bi bi-check-circle-fill mx-2"></i>100 % Genuine Medicines</div>
        <div class="p-1"><i class="bi bi-check-circle-fill mx-2"></i>Trusted Pharmacies</div>
        <div class="p-1"><i class="bi bi-check-circle-fill mx-2"></i>Delivery to your doorstep</div>
        <div class="p-1"><i class="bi bi-check-circle-fill mx-2"></i>Store Pick up</div>
    </div>
</div>

<!--  -->
<div class="container  w-75  search-box m-auto shadow">
  <div class="input-group">
    <span class="input-group-text p-2 bg-light city-font" >{{city}} {{pincode}}
      <i class="bi bi-chevron-down ms-4 text-primary cursor fw-bold" data-bs-toggle="modal"
        data-bs-target="#exampleModal"></i></span>
    <input type="text" class="form-control mb-0" placeholder="Search Medicines" name="search" [(ngModel)]="searchText"
      (ngModelChange)="searchProducts()">
       
    <span class="input-group-text bg-light  cursor"> <i class="bi bi-search mx-2 text-primary fw-bold"></i>
       <a class="mx-2 text-decoration-none">Search</a></span>      
  </div>
  <ul class="list-group search-box m-auto" *ngIf="medicines.length >0">
    <li class="list-group-item" *ngFor="let item of medicines">{{item.name}}</li>
  </ul>

</div>

<div class="modal" tabindex="-1" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <h5 class="text-center mb-0">Set Your Location</h5>
            <div class="mb-3 mt-0">
                <label for="id1" class="form-label ms-2 city-font">Pincode :</label>
                <input type="text" class="form-control" id="id1" name="pin" [(ngModel)]="pincode" (ngModelChange)="searchCitybypincode()">
                <label class="form-label ms-2 city-font">{{city}}</label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary " >Submit</button>
        </div>
      </div>
    </div>
</div>

<!-- advertisement -->
<div class="container w-75 mt-2 p-1 cursor">
    <img src="../../../assets/images/medicine-page96 "  style="width: 100%;">
</div>

<br>
<br>

<div class="container mt-4 w-75 cursor">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/otcStore.webp" class="d-block w-100" alt="" height="200">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/upkarnaWeb.png" class="d-block w-100" alt="" height="200">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/CallOffer.png" class="d-block w-100" alt="" height="200">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/discount-home-delivered.png" class="d-block w-100" alt="" height="200">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  <br>
  <br>
    <!-- topdeals -->


    <div class="container w-100 m-auto cursor">
      <div>
        <h4>Top Deals</h4>
      </div>
      
       <app-topdeals></app-topdeals>
      
    </div>
